<div class="admin_panel">
  <div class="admin-btn">
    <i class="fa fa-sort-asc" aria-hidden="true"></i>
  </div>
  <div class="admin_panel_a">
    <a class="panel_a" href="{% url 'posts_create_url' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
    {% if detail %}
    <a class="panel_a" href="{{ admin_object.get_update_url }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    {% endif %}
    <a class="panel_a" href="/admin"><i class="fa fa-terminal" aria-hidden="true"></i></a>
  </div>
</div>
