<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/NewMain.css">
    <link rel="stylesheet" href="css/media.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <title></title>
  </head>
  <body>
    <div class="login_content">
      <form class="login_form" action="index.html" method="post">
        <h1>Регистрация</h1>

        <div class="alert alert-danger">
          <p>sdad</p>
        </div>
        <div class="alert alert-danger">
          <p>sdad</p>
        </div>
        <div class="alert alert-danger">
          <p>sdad</p>
        </div>
        <div class="alert alert-danger">
          <p>sdad</p>
        </div>
        <div class="alert alert-danger">
          <p>sdad</p>
        </div>
        <div class="alert alert-danger">
          <p>sdad</p>
        </div>

        <div class="txtb">
          <input class="login_input" type="text" name="" value="">
          <span data-placeholder="Имя пользователя"></span>
        </div>

        <div class="txtb">
          <input class="login_input" type="text" name="" value="">
          <span data-placeholder="Адрес эл. почты"></span>
        </div>

        <div class="txtb">
          <input class="login_input" type="password" name="" value="">
          <span data-placeholder="Пароль"></span>
        </div>

        <div class="txtb">
          <input class="login_input" type="password" name="" value="">
          <span data-placeholder="Подтвердите пароль"></span>
        </div>

        <input type="submit" class="logbtn" value="Создать аккаунт">
      </form>
    </div>

  </body>
</html>
