{% extends 'main_template.html' %}


{% block meta_description %}
Введите новый пароль на сайте qmblog.ru
{% endblock %}


{% block meta_title %}
Введите новый пароль
{% endblock %}


{% block title %}
Введите новый пароль
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block content %}
<div class="signin_container">
  <div class="signin_wrapper">
    <form class="signin_form" method="post">
      {% csrf_token %}
      <div class="signin_title">
        <h1>Введите новый пароль</h1>
      </div>
      {{ form.new_password1.errors }}
      {{ form.new_password2.errors }}
      <div class="signin_elements">
        <input class="signin__input" required='' type='password' name="new_password1">
        <label class="signin__label" alt='Новый пароль' placeholder='Новый пароль'></label>
      </div>

      <div class="signin_elements">
        <input class="signin__input" required='' type='password' name="new_password2">
        <label class="signin__label" alt='Подтвердить' placeholder='Подтвердить'></label>
      </div>

      <!-- КНОПКА -->
      <div class="signin_elements signin_button">
        <button class="signin_button_template" type="submit" name="button">Изменить пароль</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
