{% extends 'main_template.html' %}


{% block meta_description %}
Восстановление пароля на сайте qmblog.ru
{% endblock %}


{% block meta_title %}
Восстановление пароля
{% endblock %}


{% block title %}
  Восстановление пароля
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block content %}
        <div class="flex_container_position signin_container">
          <div class="flex_wrapper_position">
            <form class="flex_column_position" action="{% url 'reset_password' %}" method="post">
              {% csrf_token %}
              <div class="signin_title">
                <h1>Восстановление пароля</h1>
              </div>

              <div class="signin_elements">
                <input class="signin__input" required='' type='email' name="email">
                <label class="signin__label" alt='Эл. почта' placeholder='Эл. почта'></label>
              </div>

              <!-- КНОПКА -->
              <div class="signin_elements signin_button_position">
                <button class="default_button default_button_color signin_button_size" type="submit" name="button">Отправить</button>
              </div>

            </form>
          </div>
        </div>
{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
