{% extends 'main_template.html' %}


{% block meta_description %}
Восстановление пароля завершено на сайте qmblog.ru
{% endblock %}


{% block meta_title %}
Восстановление пароля завершено
{% endblock %}


{% block title %}
Восстановление пароля завершено
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block content %}
<div class="default_flex_container signin_container">
  <div class="default_flex_wrapper">
    <div class="default_flex_column">
      {% csrf_token %}
      <div class="signin_title">
        <h1>Восстановление пароля завершено</h1>
      </div>
      <div class="signin_elements signin_button">
        <a href="{% url 'sign_in_url' %}">Вход</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
