{% extends 'main_template.html' %}


{% block meta_title %}
Письмо с инструкциями по восстановлению пароля отправлено
{% endblock %}


{% block title %}
Письмо с инструкциями по восстановлению пароля отправлено
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block content %}
<div class="flex_container_position signin_container">
  <div class="flex_wrapper_position">
    <div class="flex_column_position">
      {% csrf_token %}
      <div class="signin_elements">
        <p>Письмо с инструкциями по восстановлению пароля отправлено</p>
        <p>Мы отправили вам по электронной почте инструкции по установке пароля,
          если существует учетная запись с введенным вами электронным письмом. Вы должны получить их в ближайшее время.</p>
        <p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес,
          на который зарегистрировались, и проверьте свою папку спама.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
