{% extends 'accounts/signin_template.html' %}
{% block title %}
  Письмо с инструкциями по восстановлению пароля отправлено
{% endblock %}

{% block content %}
<div class="policy reset_password_done">
  <div class="policy_container">
    <h1 class="policy_h1">Письмо с инструкциями по восстановлению пароля отправлено</h1>
    <p class="policy_p">Мы отправили вам по электронной почте инструкции по установке пароля,
      если существует учетная запись с введенным вами электронным письмом. Вы должны получить их в ближайшее время.</p>
    <p class="policy_p">Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес,
      на который зарегистрировались, и проверьте свою папку спама.</p>
  </div>
</div>

{% endblock %}
