{% extends 'accounts/signin_template.html' %}
{% block title %}
  Введите новый пароль
{% endblock %}

{% block content %}
<form class="login_form" method="post">
  {% csrf_token %}
  <h1>Введите новый пароль</h1>
  {{ form.new_password1.errors }}
  {{ form.new_password2.errors }}
  <div class="txtb">
    <input type="password" name="new_password1" value="">
    <span data-placeholder="Новый пароль"></span>
  </div>
  <div class="txtb">
    <input type="password" name="new_password2" value="">
    <span data-placeholder="Подтвердите новый пароль"></span>
  </div>

  <input type="submit" class="logbtn" value="Изменить пароль">

</form>

{% endblock %}
