{% extends 'main_template.html' %}


{% block meta_description %}
Политика конфиденциальности на сайте qmblog.ru
{% endblock %}


{% block meta_title %}
Политика конфиденциальности
{% endblock %}


{% block meta_url %}
https://qmblog.ru/accounts/policy/
{% endblock %}


{% block title %}
  Политика конфиденциальности
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block content %}
<div class="flex_container_position policy_container">
  <div class="flex_wrapper_position">
    <div class="flex_column_position">

      <div class="policy_title">
        <h1>Политика конфиденциальности Qmblog.ru</h1>
      </div>

      <div class="policy_elements">
        <h4>1 Общие положения</h4>
      </div>

      <div class="policy_elements">
        <p>1.1. Предметом регулирования настоящей Политики конфиденциальности (далее «Политика»)
          являются отношения между Веб – сайтом Qmblog.ru (далее «Qmblog» или «Сайт») и Вами
          (физическим лицом пользователем сети Интернет), далее  «Пользователь».</p>
      </div>

      <div class="policy_elements">
        <p>1.2. При регистрации, каждом доступе и/или фактическом использовании Сайта,
          Пользователь дает согласие, в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ
          «О персональных данных», на обработку (сбор, систематизацию, накопление, хранение, уточнение,
          использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение)
          персональных данных, указанных в форме регистрации и профиле пользователя.</p>
      </div>

      <div class="policy_elements">
        <h4>2 Состав информации</h4>
      </div>

      <div class="policy_elements">
        <p>2.1. Учетные данные, под которым понимаются данные о Пользователе,
          предоставляемые Пользователем для создания учетной записи в процессе регистрации на Сайте,
          и дополнительная информация, заполняемая Пользователем при редактировании своей учетной записи в
          процессе использования Сайта. Полученные Сайтом Учетные данные в объеме, необходимом и достаточном
          для их отнесения в соответствии с действующим законодательством Российской Федерации к персональным
          данным, обрабатываются Сайтом как персональные данные на условиях настоящей Политики.</p>
      </div>

      <div class="policy_elements">
        <p>2.2. Иные данные технического характера, не являющиеся персональными данными,
          под которыми понимаются данные, связанные с Пользователями и собираемые Сайтом в целях, указанных
          в настоящей Политике, в процессе использования указанными лицами Сайта, а именно данные о технических
          средствах (устройствах), технологическом взаимодействии с Сайтом, в т.ч. IP-адрес хоста, вид
          операционной системы пользователя, тип браузера, сведения о местоположении, поставщик услуг Интернета,
          информация, автоматически получаемая при доступе к Сайту c использованием cookies и иных аналогичных
          технологий; иная информация, необходимая для функционирования Сайта и/или их отдельных функций.</p>
      </div>

      <div class="policy_elements">
        <p>2.3. Сайт не проверяет предоставленные Пользователем Учетные данные и не может
          судить об их достоверности, а также о том, обладает ли Пользователь достаточной правоспособностью
          для предоставления Учёных данных. Тем не менее, Сайт исходит из того, что Пользователь предоставляет
          достоверные и достаточные Учетные данные, а также своевременно обновляет их. Регистрируясь на Сайте
          либо получая доступ к нему без регистрации, Пользователь подтверждает, что достиг допустимого возраста
          использования Сайта в соответствии с применимым законодательством.</p>
      </div>

      <div class="policy_elements">
        <h4>3 Сбор Информации</h4>
      </div>

      <div class="policy_elements">
        <p>3.1. Сбор Учетных данных Пользователя осуществляется при его регистрации на
          сайте путем заполнения Пользователем регистрационной формы, а также в дальнейшем при редактировании
          Пользователем ранее предоставленной информации либо при дополнении по своей инициативе Учетных данных
          (если применимо) с помощью инструментария имеющегося на сайте.</p>
      </div>

      <div class="policy_elements">
        <p>3.2. Сбор Иных данных осуществляется Qmblog самостоятельно в процессе использования
          Пользователем Сайта. В ряде случаев сбор Иных данных Пользователя начинается с момента получения
          Пользователем доступа к Сервису (например, при загрузке интернет-страницы или запуске приложения)
          до момента его регистрации на Сайте.</p>
      </div>

      <div class="policy_elements">
        <h4>4 Хранение информации</h4>
      </div>

      <div class="policy_elements">
        <p>4.1. Учетные и иные данные пользователей хранятся на территории Российской Федерации.</p>
      </div>

      <div class="policy_elements">
        <h4>5 Передача информации</h4>
      </div>

      <div class="policy_elements">
        <p>5.1. Учетные и иные данные пользователей не передаются каким-либо третьим лицам,
          за исключением случаев, прямо предусмотренных настоящей Политикой, а также применимым законодательством.
          В частности, Учетные и Иные данные Пользователей могут передаваться по запросу государственных органов
          (органов местного самоуправления) в порядке, предусмотренном применимым законодательством.</p>
      </div>

      <div class="policy_elements">
        <h4>6 Сроки хранения информации</h4>
      </div>

      <div class="policy_elements">
        <p>6.1. Учетные и Иные данные хранятся Сайтом в течение срока действия соглашения между
          Пользователем и Сайтом, а после прекращения действия такого соглашения – в течение срока,
          необходимого и установленного действующим законодательством Российской Федерации.</p>
      </div>

      <div class="policy_elements">
        <h4>7 Права и обязанности Пользователей при обработке их Информации</h4>
      </div>

      <div class="policy_elements">
        <p>7.1. Получать бесплатный доступ к информации о себе посредством просмотра Учетной записи Пользователя на Сайте.</p>
      </div>

      <div class="policy_elements">
        <p>7.2. Самостоятельно вносить изменения и исправления и информацию о себе
          путем редактирования информации в Учетной записи Пользователя, при условии, что такие изменения
          содержат достоверную и актуальную информацию.</p>
      </div>

      <div class="policy_elements">
        <p>7.3. Удалять информацию о себе путем редактирования информации в Учетной записи Пользователя.</p>
      </div>

      <div class="policy_elements">
        <p>7.4. Оказаться от обработки персональных данных путем направления Владельцу Сайта в порядке, предусмотренном в разделе 10 настоящей Политики, соответствующего запроса.</p>
      </div>

      <div class="policy_elements">
        <h4>8 Меры по защите информации</h4>
      </div>

      <div class="policy_elements">
        <p>8.1. Сайт принимает технические и организационно-правовые меры в целях обеспечения защиты информации
          о Пользователях от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования,
          копирования, распространения, а также от иных неправомерных действий.</p>
      </div>

      <div class="policy_elements">
        <h4>9 Ограничение ответственности Сайта</h4>
      </div>

      <div class="policy_elements">
        <p>9.1. Сайт не несет ответственности за разглашение и распространение информации о
          Пользователе другими пользователями Сайта, в случае нарушения Пользователем сохранности его логина
          и/или пароля или иных необходимых для авторизации данных.</p>
      </div>

      <div class="policy_elements">
        <h4>10 Обращения пользователей</h4>
      </div>

      <div class="policy_elements">
        <p>10.1. Сведения об обрабатываемых Сайтом данных, в том числе персональных данных
          Пользователя, в связи с использованием им Сайта предоставляются Пользователю
          или его представителю при обращении (запросе).</p>
      </div>

      <div class="policy_elements">
        <p>10.2 Запросы направляются в на электронный адрес support@qmblog.ru или в иной форме, предусмотренной действующим законодательством Российской Федерации.</p>
      </div>

      <div class="policy_elements">
        <p>10.3 Пользователь вправе отозвать согласие на обработку своих персональных данных
          путем направления запроса на электронный адрес support@qmblog.ru в соответствии с требованиями действующего законодательства.</p>
      </div>

      <div class="policy_elements">
        <h4>11 Прекращение действия Учетной записи по нашей инициативе.</h4>
      </div>

      <div class="policy_elements">
        <p>11.1. Мы можем приостановить действие или закрыть вашу Учетную запись в любой момент и по нашему собственному усмотрению.</p>
      </div>

      <div class="policy_elements">
        <h4>12 Изменение и дополнение настоящей Политики</h4>
      </div>

      <div class="policy_elements">
        <p>12.1. Настоящая Политика может быть изменена  Qmblog с уведомлением Пользователя
          посредством размещения новой редакции изменяемой политики на Сайте. Внесенные изменения в Политике
          вступают в силу с момента размещения на Сайте новой редакции такой политики. Пользователь обязуется
          самостоятельно проверять настоящую Политику на предмет внесенных изменений. Неосуществление Пользователем
          действий по ознакомлению не может служить основанием для неисполнения Пользователем своих обязательств
          и несоблюдения Пользователем ограничений, установленных настоящим Соглашением.</p>
      </div>

      <div class="policy_elements">
        <p>12.2. Пользователь вправе отказаться от принятия изменений и дополнений в
          настоящую Политику,  что означает отказ Пользователя от использования Сайта и всех предоставленных
          ему ранее прав.</p>
      </div>

    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
