{% extends 'main_template.html' %}


{% block meta_description %}
Вход на сайте qmblog.ru
{% endblock %}


{% block meta_title %}
Вход
{% endblock %}


{% block meta_url %}
https://qmblog.ru/accounts/signin/
{% endblock %}


{% block title %}
  Вход
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block content %}
        <div class="default_flex_container signin_container">
          <div class="default_flex_wrapper">
            <form class="default_flex_column" action="{% url 'sign_in_url' %}" method="post">
              {% csrf_token %}
              <div class="signin_title">
                <h1>Вход</h1>
              </div>

              <div class="signin_elements">
                {% include 'accounts/includes/alert.html' %}
              </div>

              <div class="signin_elements">
                <input class="signin__input" required='' type='text' name="username">
                <label class="signin__label" alt='Имя пользователя' placeholder='Имя пользователя'></label>
              </div>

              <div class="signin_elements">
                <input class="signin__input" required='' type='password' name="password">
                <label class="signin__label" alt='Пароль' placeholder='Пароль'></label>
              </div>

              <!-- РЕКАПЧА -->
              <div class="signin_elements">
                <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
              </div>

              <!-- КНОПКА -->
              <div class="signin_elements signin_button_position">
                <button class="default_button default_button_color signin_button_size" type="submit" name="button">Вход</button>
              </div>

              <div class="signin_elements signin_button_position margin-top">
                <a href="{% url 'sign_up_url' %}">Создать аккаунт</a>
              </div>
              <div class="signin_elements signin_button_position margin-top">
                <a href="{% url 'reset_password' %}">Забыли пароль ?</a>
              </div>
              {% if request.GET.next %}
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              {% endif %}

            </form>
          </div>
        </div>
{% endblock %}


{% block js %}
{% include 'accounts/includes/recaptcha_js.html' %}
{% include 'includes/nav_js.html' %}
{% endblock %}
