{% extends 'accounts/signin_template.html' %}
{% block title %}
  Вход
{% endblock %}

{% block content %}
<form class="login_form" action="{% url 'sign_in_url' %}" method="post">
  {% csrf_token %}
  <h1>Вход</h1>

  {% include 'accounts/includes/alert.html' %}

  <div class="txtb">
    <input type="text" name="username" value="" maxlength="50">
    <span data-placeholder="Имя пользователя"></span>
  </div>

  <div class="txtb">
    <input type="password" name="password" value="" maxlength="50">
    <span data-placeholder="Пароль"></span>
  </div>
  <div class="g-recaptcha" data-sitekey="6Lf1St8UAAAAAPZ3UKxzVv1osrR7TfDRmKjbJgto"></div>
  <input type="submit" class="logbtn" value="Войти">

  <div class="bottom_text">
    <a href="{% url 'sign_up_url' %}">Создать аккаунт</a>
  </div>
  <div class="bottom_text">
    <a href="{% url 'reset_password' %}">Забыли пароль ?</a>
  </div>
  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% endif %}
</form>

{% endblock %}
