{% extends 'main_template.html' %}


{% block meta_description %}
Регистрация на сайте qmblog.ru
{% endblock %}


{% block meta_title %}
Регистрация
{% endblock %}


{% block meta_url %}
https://qmblog.ru/accounts/signup/
{% endblock %}


{% block title %}
  Регистрация
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block content %}
        <div class="flex_container_position signin_container">
          <div class="flex_wrapper_position">
            <form class="flex_column_position" action="{% url 'sign_up_url' %}" method="post">
              {% csrf_token %}
              <div class="signin_title">
                <h1>Регистрация</h1>
              </div>

              <div class="signin_elements">
                {% include 'accounts/includes/alert.html' %}
              </div>

              <div class="signin_elements">
                <input class="signin__input" id="signup_username" required='' type='text' name="username">
                <label class="signin__label" alt='Имя пользователя' placeholder='Имя пользователя'></label>

                <div class="alert alert-danger" id="signup_alert" style="display:none">
                  <p></p>
                </div>

              </div>

              <div class="signin_elements">
                <input class="signin__input" required='' type='email' name="email">
                <label class="signin__label" alt='Эл. почта' placeholder='Эл. почта'></label>
              </div>

              <div class="signin_elements">
                <input class="signin__input" required='' type='password' name="password1">
                <label class="signin__label" alt='Пароль' placeholder='Пароль'></label>
              </div>

              <div class="signin_elements">
                <input class="signin__input" required='' type='password' name="password2">
                <label class="signin__label" alt='Подтвердить' placeholder='Подтвердить'></label>
              </div>

              <!-- ЧЕКБОКС ПОЛИТИКИ -->
              <div class="signin_elements">
                <input class="signin__checkbox" id="signin__checkbox" type="checkbox" name="checkbox" value="">
                <label for="signin__checkbox"><a href="{% url 'policy_url' %}">Я принимаю условия Политики конфиденциальности</a></label>
              </div>

              <!-- РЕКАПЧА -->
              <div class="signin_elements">
                <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
              </div>

              <!-- КНОПКА -->
              <div class="signin_elements signin_button_position">
                <button class="default_button default_button_color signin_button_size" type="submit" name="button">Создать аккаунт</button>
              </div>

            </form>
          </div>
        </div>
{% endblock %}


{% block js %}
{% include 'accounts/includes/recaptcha_js.html' %}
{% include 'accounts/includes/validate_js.html' %}
{% include 'includes/nav_js.html' %}
{% endblock %}
