{% extends 'blog/base_blog.html' %}

{% block title %}
{% firstof user.username %}
{% endblock %}

{% block h1 %}
Привет {% firstof user.get_short_name user.get_username %}
{% endblock %}

{% block h3 %}
Смена пароля
{% endblock %}


{% block content %}
<form class="user_edit_form" action="{% url 'user_change_password_url' %}" method="post">
  {% csrf_token %}
  {% include 'accounts/includes/alert.html' %}
  <div class="user_edit_info">
    <div class="txtb">
      <input type="password" name="old_password" value="">
      <span data-placeholder="Введите старый пароль"></span>
    </div>

    <div class="txtb">
      <input type="password" name="new_password1" value="">
      <span data-placeholder="Введите новый пароль"></span>
    </div>

    <div class="txtb">
      <input type="password" name="new_password2" value="">
      <span data-placeholder="Повторно введите новый пароль"></span>
    </div>

    <div class="stbtn">
      <input type="submit" class="save_user_btn" value="Сохранить">
      <a href="{% url 'user_profile_url' %}"><input type="button" class="logoutbtn" value="Отмена"></a>
    </div>
  </div>

</form>
{% endblock %}
