{% extends 'blog/base_blog.html' %}

{% block title %}
{% firstof user.username %}
{% endblock %}

{% block h1 %}
Привет {% firstof user.get_short_name user.get_username %}
{% endblock %}


{% block content %}
<div class="user_container">
  <div class="user_profile">
    <div class="user_info">
      <h1>{% firstof user.username %}</h1>
      <h3>{% firstof user.email %}</h3>
      <h4>{% firstof user.first_name %} {% firstof user.last_name %}</h4>
    </div>
    <div class="settings_button">
      <a href="{% url 'user_profile_update_url' %}">
        <div class="settings_button_edit">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <h5>Настройки</h5>
        </div>
      </a>
      <a href="{% url 'user_change_password_url' %}">
        <div class="settings_button_edit settings_button_reset_password">
          <span class="fa-passwd-reset fa-stack">
            <i class="fa fa-undo fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
          <h5>Сменить</h5>
          <h5>пароль</h5>
        </div>
      </a>
      <a href="{% url 'logout_url' %}">
        <div class="settings_button_edit settings_button_logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <h5>Выход</h5>
        </div>
      </a>
    </div>
  </div>
  {% if order_lists %}
  <div class="user_posts">
    <h2>Ваши статьи:</h2>

    <div class="user_post_container">
      <div class="user_post_card">
        <h4>Заголовок</h4>
        <h4>Дата публикации</h4>
        <h4>Изображение</h4>
      </div>

      {% for order_list in order_lists %}
      <a class="user_post_card" href="{{order_list.get_absolute_url}}">
        <h4>{{order_list.title|truncatewords:4}}</h4>
        <h4>{{order_list.date_pub}}</h4>
        {% if order_list.img %}
        <img src="{{ order_list.img.url }}" alt=""  class="img_detail">
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
