{% extends 'main_template.html' %}


{% block meta_title %}
{% firstof user.username %}
{% endblock %}


{% block meta_description %}
Профиль пользователя {% firstof user.username %}
{% endblock %}


{% block title %}
{% firstof user.username %}
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block Header %}
{% include 'includes/header.html' %}
{% endblock %}


{% block content_title %}
Редактор профиля
{% endblock %}

{% block content %}
<div class="flex_container_position user_container">
  <div class="flex_wrapper_position">
    <form class="flex_column_position" action="{% url 'user_profile_update_url' %}" method="post">
      {% csrf_token %}

      <div class="signin_elements">
        {% include 'accounts/includes/alert.html' %}
      </div>

      <div class="signin_elements">
        {{ form.username }}
        <label class="signin__label" alt='Имя пользователя' placeholder='Имя пользователя'></label>

        <div class="alert alert-danger" id="signup_alert" style="display:none">
          <p></p>
        </div>

      </div>

      <div class="signin_elements">
        {{ form.email }}
        <label class="signin__label" alt='Адрес эл. почты' placeholder='Адрес эл. почты'></label>
      </div>

      <div class="signin_elements">
        {{ form.first_name }}
        <label class="signin__label" alt='Имя' placeholder='Имя'></label>
      </div>

      <div class="signin_elements">
        {{ form.last_name }}
        <label class="signin__label" alt='Фамилия' placeholder='Фамилия'></label>
      </div>

      <!-- КНОПКА -->
      <div class="signin_elements signin_button_position">
        <button class="default_button default_button_color signin_button_size" type="submit" name="button">Сохранить</button>
      </div>

      <div class="signin_elements signin_button_position">
        <a class="default_button danger_button_color signin_button_size" href="{% url 'user_profile_url' %}">Отмена</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
{% include 'includes/nav_js.html' %}
{% include 'accounts/includes/validate_js.html' %}
{% endblock %}
