{% extends 'main_template.html' %}
{% load static %}

{% block meta_description %}
Qmblog.ru - это галерея моих художественных работ, а также, я явлюясь разработчиком данного web-сайта
{% endblock %}

{% block meta_title %}
О проекте qmblog
{% endblock %}

{% block meta_url %}
https://qmblog.ru/blog/about
{% endblock %}

{% block meta_keywords %}
О qmblog, qmblog, Иван Шипачев, QofMi
{% endblock %}

{% block title %}
О проекте qmblog
{% endblock %}

{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block Header %}
{% include 'includes/header.html' %}
{% endblock %}


{% block content_title %}
О Проекте
{% endblock %}


{% block content %}
<div class="default_flex_container">
  <div class="default_flex_wrapper">
    <div class="default_flex_column about_content">
      <img src="{% static 'img/QofMi.png' %}" alt="">
      <h1>QMBLOG</h1>
      <h2>Привет, меня зовут Иван Шипачев.</h2>
      <h2>Qmblog.ru - это галерея моих художественных работ,</h2>
      <h2>а также, я явлюясь разработчиком данного web-сайта</h2>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
