{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
Qmblog.ru - это галерея моих художественных работ, а также, я явлюясь разработчиком данного web-сайта
{% endblock %}

{% block meta_title %}
О проекте qmblog
{% endblock %}

{% block meta_url %}
https://qmblog.ru/blog/about
{% endblock %}

{% block meta_keywords %}
О qmblog, qmblog, Иван Шипачев, QofMi
{% endblock %}

{% block title %}
О проекте qmblog
{% endblock %}

{% block header_class_image %}
about
{% endblock %}

{% block h1 %}
О проекте
{% endblock %}


{% block content %}
<div class="about_content">
  <img src="{% static 'img/QofMi.png' %}" alt="">
  <h1>QMBLOG</h1>
  <h2>Привет, меня зовут Иван Шипачев.</h2>
  <h2>Qmblog.ru - это галерея моих художественных работ,</h2>
  <h2>а также, я явлюясь разработчиком данного web-сайта</h2>

  <h1>Контакты</h1>
  <h2>Электронный адрес - qofmi@qmblog.ru</h2>

  <img class="QM" src="{% static 'img/QM.png' %}" alt="">
</div>

{% endblock %}
