{% extends 'blog/base_blog.html' %}

{% block meta_title %}
Блог - Последние новости и статьи
{% endblock %}

{% block meta_description %}
Блог содержит последние новости обновлений сайта и интересные статьи на разные тематики, а может и нет.
{% endblock %}

{% block title %}
Блог - Последние новости и статьи
{% endblock %}

{% block h1 %}
Блог
{% endblock %}

{% block h3 %}
Последние новости и статьи
{% endblock %}

{% block content %}

{% if page.object_list %}
{% for post in page.object_list %}

{% include 'blog/includes/post_card.html' %}



{% endfor %}
{% else %}
<h1 class="post_detail_p">Тут пока нет записей</h1>
{% endif %}

{% endblock %}

{% block paginator %}

{% include 'blog/includes/paginator.html' %}
{% endblock %}
