{% extends 'main_template.html' %}

{% block meta_title %}
Блог - Последние новости и статьи
{% endblock %}

{% block meta_url %}
https://qmblog.ru/blog/
{% endblock %}

{% block meta_keywords %}
Блог qmblog, qmblog, Блог, Иван Шипачев, QofMi
{% endblock %}

{% block meta_description %}
Блог содержит последние новости обновлений сайта и интересные статьи на разные тематики, а может и нет.
{% endblock %}

{% block title %}
Блог - Последние новости и статьи
{% endblock %}

{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block Header %}
{% include 'includes/header.html' %}
{% endblock %}


{% block content_title %}
Блог
{% endblock %}


{% block content %}
{% include 'blog/includes/post_card.html' %}
{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
