{% extends 'main_template.html' %}


{% block meta_title %}
{{ post.title }} - {{ block.super }}
{% endblock %}


{% block meta_description %}
{{ post.title }} - {{ block.super }}
{% endblock %}


{% block title %}
{{ post.title }} - {{ block.super }}
{% endblock %}


{% block Navigation %}
{% include 'includes/navigation.html' %}
{% endblock %}


{% block Header %}
{% include 'includes/header.html' %}
{% endblock %}


{% block content_title %}
Блог - ПОДРОБНЕЕ О СТАТЬЕ
{% endblock %}


{% block content %}
<div class="flex_container_position">
  <div class="flex_wrapper_position">
    <div class="post_detail wow zoomIn" data-wow-delay = "0.25s">
      <h1 class="post_detail_h1">{{ post.title}}</h1>
      <p class="post_detail_p">От {% firstof post.user.get_full_name or post.user.get_username %}  {{ post.date_pub }}</p>
      <div class="post_img">
        {% if post.img %}
        <img src="{{ post.img.url }}" alt=""  class="img_detail">
        {% endif %}
      </div>
      <div class="post_detail_p">
        {% autoescape off %}{{ post.body }}{% endautoescape %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{% include 'includes/nav_js.html' %}
{% endblock %}
