{% extends 'blog/base_blog.html' %}
{% block title %}
  Редактирование "{{ post.title }}" - {{ block.super }}
{% endblock %}


{% block h1 %}
Редактор
{% endblock %}

{% block h3 %}
Обновление статьи
{% endblock %}

{% block content %}
<div class="post_create_form">
  <form action="{{ post.get_update_url }}" method="post" enctype="multipart/form-data">
    <h1 class="post_create_form_title">Редактор</h1>
    {% csrf_token %}

    <h4>Автор {{ form.user }}</h4>
    <h4>Изображение</h4>
    {{ form.img }}
    <div class="form">
      {{ form.title }}
      {{ form.body | safe }}


    </div>


    <button class="button1 post_create_form_button" type="submit" name="button">Обновить</button>
    <div class="post_create_form_button_container">
      <a href="{{ post.get_absolute_url }}"><button class="button1 post_cancel_button" type="button" name="button">Назад</button></a>
      <button class="button1 post_delete_button" type="button" name="button">Удалить</button>
    </div>

  </form>
  <form class="post_delete_form" action="{{ post.get_delete_url }}" method="post">
    <div class="post_delete_form_container">
      {% csrf_token %}
      <div class="post_delete_form_questions">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <h1>Вы действительно хотите удалить статью ?</h1>
      </div>
      <div class="post_delete_form_button_container">
        <button class="button1 post_cancel_delete_form_button" type="button" name="button">Отмена</button>
        <button class="button1 post_delete_form_button" type="submit" name="button">Удалить</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
