/* Авторизация/Регистрация */
.login_content {
  width: 100%;
  min-height: 100vh;
  background-color: #f1f1f1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  width: 25%;
  height: 30%;
  background: #ffffff;
  padding: 80px 40px;
  border-radius: 10px;
}

.login_form h1 {
  text-align: center;
  margin-bottom: 25%;
  font-family: 'Rubik', sans-serif;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 12% 0;
}

.txtb input {
  font-size: 1.2rem;
  color: #333;
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  background: none;
  padding: 0 5px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: 1;
  transition: 0.5s;
}

.focus + span::before {
  top: -5px;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #d3597e, #4e3c7a, #d3597e);
  background-size: 200%;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: right;
}

.bottom_text {
  text-align: center;
  margin-top: 20%;
}

/* Messages */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

/* Политика конфиденциальности */
.policy {
  width: 100%;
  height: auto;
  background-color: #e6e6e6;
  color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reset_password_done {
  height: 100vh;
}

.policy_container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  text-align: justify;
}

.policy_h1 {
  width: 100%;
}

.policy_h4 {
  margin-top: 4%;
}

.policy_p {
  width: 100%;
  margin-top: 2%;
}

/* Профиль пользователя */
.user_container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-top: 5%;
}

.user_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
  padding: 20px;
  background-color: #f3f3f3;
}

.user_info h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.user_info h3{
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.user_info h4{

}

.settings_button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.settings_button_edit {
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  transform: scale(1);
  transition: 0.5s cubic-bezier(.55,0,.1,1);
}

.settings_button_edit:hover {
  transform: scale(1.1);
  border-radius: 20px;
  transition: 0.5s cubic-bezier(.55,0,.1,1);
}

.settings_button_logout {
  background: linear-gradient(120deg, #fc3030, #ac0000, #fc3030);
  background-size: 200%;
}

.settings_button_edit i {
  color: #fff;
  font-size: 2rem;
}

.settings_button_edit h5 {
  color: #fff;
}


.fa-passwd-reset > .fa-lock {
  font-size: 0.85rem;
}

.user_posts {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.user_post_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------------------------------ */
.user_post_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  width: 80%;
  padding: 10px;
  height: auto;
  background-color: #dbdbdb;
  color: #333;
}

.user_post_card img {
  width: 200px;
}

/* Редактор профиля */
.user_edit_form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-top: 5%;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 20px;
}

.user_edit_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
}

.logoutbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #fc3030, #ac0000, #fc3030);
  background-size: 200%;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logoutbtn:hover {
  background-position: right;
}

.save_user_btn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #2fff1f, #0a9400, #2fff1f);
  background-size: 200%;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.save_user_btn:hover {
  background-position: right;
}

.stbtn {
  width: 100%;
}
