:root {
  --main-color-app: #d3597e;
  --main--h1-color: #353535;
  --main--p-color: #575757;
  --body-background-color: #fff;
  --default-cubic-bezier: .55,0,.1,1;

  --default-button-background-color: transparent;
  --default-button-hover-color: #fff;
  --danger-button-color: #e23434;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html{
  position: relative;
  overflow-x: hidden;
}

li {
  text-decoration: none;
  list-style: none;
  display: block;
}

body {
  width: 100%;
  height: auto;
  font-family: 'PT Sans', sans-serif;
  background: var(--body-background-color);
}

.App {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.fixed {
  position: fixed;
  overflow: hidden;
}

/* РАСПОЛОЖЕНИЕ ЭЛЕМЕНТОВ ПО УМОЛЧАНИЮ */

.flex_container_position {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.flex_wrapper_position {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  flex-direction: column;
}

.flex_list_position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex_column_position {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* СКРОЛ */

::-webkit-scrollbar-track
{
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--main-color-app);
  border-radius: 10px;
}

/* ЗАГОЛОВОК КОНТЕНТА */

.content_title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.content_title__h1 {
  display: inline-block;
  text-align: center;
  padding: 7px 8px 4px 8px;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--main--h1-color);
  background: var(--body-background-color);
  z-index: 1;
}

.content_title__lines {
  position: absolute;
  margin-top: 25px;
  width: 80%;
  border-bottom: 4px solid var(--main-color-app);
  border-radius: 4px;
}

/* ШАБЛОН КНОПКИ */

.default_button {
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 350;
  font-family: 'Source Sans Pro', inherit, sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.default_button_color {
  background: var(--default-button-background-color);
  color: var(--main-color-app);
  border: 1px solid var(--main-color-app);
  transition: 0.5s cubic-bezier(var(--default-cubic-bezier));
}

.default_button_color:hover {
  background: var(--main-color-app);
  color: var(--default-button-hover-color);
  transition: 0.5s cubic-bezier(var(--default-cubic-bezier));
}

.danger_button_color {
  background: var(--default-button-background-color);
  color: var(--danger-button-color);
  border: 1px solid var(--danger-button-color);
  transition: 0.5s cubic-bezier(var(--default-cubic-bezier));
}

.danger_button_color:hover {
  background: var(--danger-button-color);
  color: var(--default-button-hover-color);
  transition: 0.5s cubic-bezier(var(--default-cubic-bezier));
}

/* ПОДВАЛ */

.footer {
  height: 60px;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 600px){

}

@media screen and (max-width: 450px){

  .content_title__h1 {
    font-size: 1.5rem;
  }

  .content_title__lines {
    width: 100%;
    margin-top: 20px;
    border-bottom: 4px solid var(--main-color-app);
  }
}

@media screen and (max-width: 320px) {

}
