:root {
  --signin-input-color: #898989;
  --signin-input-border-color: #ccc;
  --signin-cubic-bezier: .55,0,.1,1;
}

.margin-top {
  margin-top: 2%;
}

.signin_container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.signin_wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  flex-direction: column;
}

.signin_form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signin_title {
  margin-bottom: 2%;
}


/* ПОЛЕ ВВОДА */
.signin_elements {
  width: 40%;
  margin-bottom: 1%;
}

.signin__input {
  box-sizing: border-box;
  width: 100%;
  height: calc(4em + 1px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid var(--signin-input-border-color);
  border-radius: 5px;
  background: #fff;
  resize: none;
  outline: none;
}

.signin__input[required]:focus {
  border-color: var(--main-color-app);
}

.signin__input[required]:focus + .signin__label[placeholder]:before {
  color: var(--main-color-app);
}

.signin__input[required]:focus + .signin__label[placeholder]:before,
.signin__input[required]:valid + .signin__label[placeholder]:before {
  transition-duration: .2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}

.signin__input[required]:invalid + .signin__label[placeholder][alt]:before {
  content: attr(alt);
}

.signin__input[required] + .signin__label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}

.signin__input[required] + .signin__label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: var(--signin-input-color);
  white-space: nowrap;
  transition: 0.3s cubic-bezier(var(--signin-cubic-bezier));
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}


/* ЧЕКБОКС */
.signin__checkbox {
  position: absolute;
   z-index: -1;
   opacity: 0;
}

.signin__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.signin__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--signin-input-border-color);
  border-radius: 1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.signin__checkbox:checked+label::before {
  border-color: var(--main-color-app);
  background-color: var(--main-color-app);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.signin__checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: var(--main-color-app);
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.signin__checkbox:not(:disabled):active+label::before {
  background-color: var(--main-color-app);
  border-color: var(--main-color-app);
}

/* стили для чекбокса, находящегося в фокусе */
.signin__checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(78, 60, 122, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.signin__checkbox:focus:not(:checked)+label::before {
  border-color: var(--main-color-app);
}

/* стили для чекбокса, находящегося в состоянии disabled */
.signin__checkbox:disabled+label::before {
  background-color: var(--main-color-app);
}


/* КНОПКА */
.signin_button {
  display: flex;
  justify-content: center;
}

.signin_button_template {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', inherit, sans-serif;
  display: inline-block;
  text-align: center;
  width: 80%;
  background: transparent;
  font-weight: bold;
  padding: 14px 0px;
  color: var(--main-color-app);
  border: 2px solid var(--main-color-app);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.signin_button_template:hover {
  color: #fff;
  transition: 0.5s cubic-bezier(var(--signin-cubic-bezier));
}

.signin_button_template::before {
  content: '';
  transition: 0.5s cubic-bezier(var(--signin-cubic-bezier));
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: var(--main-color-app);
  z-index: -2;
}

.signin_button_template:hover::before {
  transition: 0.5s cubic-bezier(var(--signin-cubic-bezier));;
  left: 0;
  right: 0;
  opacity: 1;
}

.signin_button_template:focus::before {
  transition: 0.5s cubic-bezier(var(--signin-cubic-bezier));;
  left: 0;
  right: 0;
  opacity: 1;
}


/* Messages */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}


/* СБРОС ПАРОЛЯ */
.reset_password_done {
  height: 100vh;
}

@media screen and (max-width: 1200px){

  .signin_elements {
    width: 80%;
  }
}

@media screen and (max-width: 800px){

  .signin_button_template {
    width: 80%;
  }

  .g-recaptcha {
    width: 80%;
  }
}

@media screen and (max-width: 600px){

}

@media screen and (max-width: 450px){

  .signin_elements {
    width: 100%;
    margin-bottom: 5%;
  }

  .signin_button_template {
    width: 100%;
  }

  .g-recaptcha {
    width: 50%;
  }
}

@media screen and (max-width: 320px) {

}
