/* БАЗОВЫЙ ШАБЛОН */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html{
  position: relative;
  overflow-x: hidden;
}

li {
  text-decoration: none;
  list-style: none;
  display: block;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
}

.footer {
  margin-top: 50px;
  width: 100%;
}
/* ------------------------------------------------------------------------ */


/* ШАПКА */
header {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.blog {
  background: url(../img/blog.jpg) no-repeat;
  background-size: cover;
}

.home {
  background: url(../img/home.jpg) no-repeat;
  background-size: cover;
}

.about {
  background: url(../img/about.jpg) no-repeat;
  background-size: cover;
}

.menu_container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.qmblog {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
}
.qmblog a {
  color: #fff;
}

.header_txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 60%;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 4px;
  text-align: center;
}

.header_txt h1 {
  font-size: 6rem;
}

.home_txt {
  width: 100%;
  font-family: 'Permanent Marker', cursive;
}
/* ------------------------------------------------------------------------ */


/* НАВИГАЦИЯ */

/* КНОПКА */
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}
.menu-btn span, .menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -20px;
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  transition: .4s cubic-bezier(.55,0,.1,1);
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
}

.menu-btn span::before {
  transform: translateY(-10px);
}

.menu-btn span::after {
  transform: translateY(8px);
}

.menu-btn_active span::before {
  transform: rotate(45deg);
  transform-origin: center;
}

.menu-btn_active span{
  width: 0;
}

.menu-btn_active span::after {
  transform: rotate(-45deg);
  transform-origin: center;
}
/* ------------------------------------------------------------------------ */


/* МЕНЮ */
.menu_nav {
  position: fixed;
  right: 0;top: 0;left: 0;bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 4px;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background: rgba(84, 85, 86, 0.9);
  transition: .8s cubic-bezier(.55,0,.1,1);
  animation: .8s cubic-bezier(.55,0,.1,1) forwards menu-1-reverse;
  z-index: 999;
}

.menu-nav_active {
  visibility: visible;
  transition: 1.2s cubic-bezier(.55,0,.1,1);
  animation: 1.2s cubic-bezier(.55,0,.1,1) forwards menu-1;
}
@keyframes menu-1 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes menu-1-reverse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.nav a {
  font-size: 4rem;
  color: rgb(158, 158, 158);
  transition: .4s cubic-bezier(.55,0,.1,1);
  margin-bottom: 25px;
}

.nav a:hover {
  color: #fff;
}

.auth {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 80px;
}

.auth a {
  font-size: 1.2rem;
  margin-right: 2%;
  color: rgb(158, 158, 158);
  transition: .4s cubic-bezier(.55,0,.1,1);
}

.auth a:hover {
  color: #fff;
}

.contacts {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  width: 30%;
  justify-content: space-around;
}

.vk, .twitter, .git {
  color: rgb(158, 158, 158);
  width: 50px;
  height: 50px;
  background-color: transparent;
  transition: .4s cubic-bezier(.55,0,.1,1);
}

.vk:hover , .twitter:hover , .git:hover {
  color: #fff;
}
.menu-a {
  animation: 1.2s cubic-bezier(.55,0,.1,1) forwards menu-2-reverse;
}
.menu-a_active {
  animation: 1.2s cubic-bezier(.55,0,.1,1) forwards menu-2;
}
@keyframes menu-2{
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes menu-2-reverse {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}


/* ------------------------------------------------------------------------ */

/* КОНТЕНТ */

.blog_content {
  width: 100%;
  height: auto;
  top: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  z-index: 11;
}

.blog_content_none {
  position: fixed;
  top: 110%;
}

.blog_content:before {
  content: '';
  position: absolute;
  top: -11px;
  height: 12px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
}

/* ------------------------------------------------------------------------ */

/* БЛОГ */
.post {
  height: auto;
  width: 40%;
  margin: 1%;
  margin-bottom: 5%;
}

.post_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#margin {
  display: flex;
  justify-content: flex-start;
  margin-top: 1%;
}

.read {
  margin-top: 2%;
}

.post_p {
  color: #a6a6a6;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}

.post_t {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Source Sans Pro', inherit, sans-serif;
}

/* ------------------------------------------------------------------------ */

/* Пагинация */
.paginator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  z-index: 999;
}

ul {
  position: relative;
  background: #fff;
  display: flex;
  padding: 10px 20px;
}

ul li {
  line-height: 50px;
  margin: 0 5px;
}

ul li.page-link {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

ul li a {
  display: block;
  color: #777;
  border-radius: 50%;
}

ul li.page-link:hover a,
ul li.page-link.active a {
  background: #333;
  color: #fff;
}

.page-item.disabled {
  display: none;
}

ul li:first-child {
  margin-right: 30px;
  font-weight: 700;
  font-size: 15px;
}

ul li:last-child {
  margin-left: 30px;
  font-weight: 700;
  font-size: 15px;
}

/* ------------------------------------------------------------------------ */


/* ПРОСМОТР ПОСТОВ */
.post_detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5%;
  width: 80%;
  height: auto;
}

.post_detail_h1{
  margin-top: 1%;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Source Sans Pro', inherit, sans-serif;
}

.post_detail_p{
  margin-top: 1%;
  color: #a6a6a6;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}

.post_img{
  margin-top: 1%;
}

.post_detail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ------------------------------------------------------------------------ */


/* РЕДАКТОР ПОСТОВ */
.post_create_form_title {
  font-size: 1.8rem;
}

.post_create_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
}

.post_create_form h4 {
  margin-top: 2%;
}

.form-control {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 4%; margin-bottom: 2%;
  border: none;
  outline: none;
  border-bottom: 1px solid #9e9e9e;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #282828;
}


.post_create_form_button_container {
  text-align: left;
}


/* ------------------------------------------------------------------------ */


/* Удаление постов */
.post_delete_form {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 1s;
  z-index: 1;
}

.post_delete_form_active {
  visibility: visible;
  background-color: rgba(37, 37, 37, 0.7);
  transition: 0.5s;
  z-index: 1;
}

.post_delete_form_container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
  border-radius: 20px;
  background-color: #ffffff;
  transform: scale(0);
  transition: 0.5s;
}

.post_delete_form_container_active {
  transform: scale(1);
  transition: 0.5s;
}

.post_delete_form_questions i {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: red;
}

.post_delete_form_questions h1 {
  font-size: 1.5rem;
}

.post_delete_form_button_container {
  text-align: center;
}


/* ------------------------------------------------------------------------ */


/* ГАЛЕРЕЯ */
.gallery {
  height: auto;
  width: 30%;
  margin: 1%;
  transform: scale(1);
  cursor: pointer;
  transition: .2s cubic-bezier(.55,0,.1,1);
}

.gallery img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.gallery:hover {
  transform: scale(1.1);
}

.gallery_active {
  width: 80%;
}
/* ------------------------------------------------------------------------ */

/* О ПРОЕКТЕ */
.about_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 4px;
}

.about_content img {
  width: 300px;
  height: auto;
}

.about_content h1 {
  margin-top: 40px;
}

.about_content h2 {
  font-weight: 400;
}

.QM {
  width: 150px;
  height: auto;
}
/* ------------------------------------------------------------------------ */


/* Админка (панель) */

.admin_panel {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  transition: 0.5s;
  transform: translateX(-100%);
  z-index: 999;
}

.admin_panel_active {
  transform: translateX(0);
  transition: 0.5s;
  top: 25%;
  height: 50%;
}

.admin_panel_a {
  display: flex;
  justify-content: space-around;
  height: 80%;
  flex-direction: column;
}

.admin-btn {
  width: 30px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  right: -30px;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.admin-btn_active {
  top: 80%;
  transition: 0.5s;
}

.admin-btn i {
  font-size: 1.5rem;
  color: #333;
  transform: rotate(90deg);
  transition: 0.5s;
}
.admin-btn i.adm_i_active {
  transform: rotate(-90deg);
  transition: 0.5s;
}

.panel_a {
  font-size: 2rem;
  color: #fff;
  transform: scale(1);
  transition: 0.25s;
}

.panel_a:hover {
  transform: scale(1.2);
  transition: 0.25s;
}

/* ------------------------------------------------------------------------ */

/* Кнопки */

.button1 {
  padding: 12px 25px;
  background-color: transparent;
  border: 1px solid #a6a6a6;
  position: relative;
  text-align: center;
  font-family: 'Source Sans Pro', inherit, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #282828;
	text-overflow: ellipsis;
  text-transform: uppercase;
  transition: 0.7s;
}

.button1:hover {
  color: white;
  background-color: #121213;
  transition: 0.7s;
}

.post_delete_button,
.post_delete_form_button {
  border: 1px solid red;
  color: red;
}

.post_delete_button:hover,
.post_delete_form_button:hover {
  color: white;
  background-color: red;
}

.post_cancel_button,
.post_cancel_delete_form_button {
  margin-top: 5%;
  border: 1px solid #a6a6a6;
  color: #282828;
}

.post_cancel_form_button:hover {
  color: white;
  background-color: #121213;
}

.post_create_form_button {
  flex-direction: row;
  margin-top: 5%;
  border: 1px solid #2a952d;
  color: #2a952d;
}

.post_create_form_button:hover {
  color: white;
  background-color: #2a952d;
}

.post_create_form_img_button {
  background-color: transparent;
  border: none;
  position: relative;
  outline: none;
  margin-top: 2%;
  text-align: center;
  font-family: 'Source Sans Pro', inherit, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #282828;
  transition: 0.5s;
}

.post_create_form_img_button:hover {
  color: blue;
  transition: 0.5s;
  cursor: pointer;
}
/* ------------------------------------------------------------------------ */
