@media screen and (max-width: 1200px){
  /* BLOG */

  /* ACCOUNTS */
  .login_form {
    width: 40%;
    height: 30%;
    transition: 0.5s;
  }
  .main-txt h3 {
    text-align: center;
  }
  .contacts {
    width: 40%;
  }

}

@media screen and (max-width: 800px){

  /* BLOG */
  .post {
    width: 90%;
  }
  .main-block {
    width: 80%;
    transition: 0.5s;
  }

  .post_detail {
    width: 90%;
  }

  .menu-a{
    margin-top: 10%;
  }

  .main-txt{
    display: flex;
  }
  /* ACCOUNTS */
  .login_form {
    width: 60%;
    height: 30%;
    transition: 0.5s;
  }
  .post_create_form {
    width: 100%;
    transition: 0.5s;
  }
  .settings_button {
    justify-content: center;
    margin-top: 10px;
  }
  .user_post_card {
    flex-direction: column;
  }

}

@media screen and (max-width: 600px){
  .gallery {
    width: 40%;
  }
  .gallery:hover {
    transform: scale(1);
  }
  .gallery_active {
    width: 90%;
  }

  .post {
    width: 90%;
  }

  .main-txt h3 {
    font-size: 12px;
    font-weight: 700;
    transition: 0.5s;
  }

  .post_detail {
    width: 90%;
  }
  .contacts {
    width: 60%;
  }

/* Меню */
  .menu-a{
    margin-top: 10%;
  }

  .menu-nav_active{
    clip-path: circle(170% at 90% -15%);
    -webkit-clip-path: circle(170% at 90% -15%);
  }


  /* ACCOUNTS */
  .login_form {
    width: 60%;
    height: 30%;
    transition: 0.5s;
  }
  .g-recaptcha {
    transform:scale(0.8);
    transform-origin:0 0;
    transition: 0.5s;
    justify-content: flex-start;
  }
  .user_edit_form {
    width: 80%;
  }
  .user_profile {
    flex-direction: column;
    justify-content: center;
  }
  .user_post_card {
    flex-direction: column;
  }

/* ------------------------------------------------------------------------ */
}

@media screen and (max-width: 450px){
  /* ГАЛЕРЕЯ */
  .gallery {
    width: 90%;
  }

  .modal {
    padding-top: 15rem;
  }
  .modal-content {
    width: 100%;
  }

  .auth {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  .auth a {
    font-size: 2rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .nav a {
    margin-bottom: 0;
  }

  .header_txt h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .contacts {
    width: 80%;
  }

  /* ACCOUNTS */
  .login_form {
    width: 100%;
    height: 30%;
    transition: 0.5s;
  }
  .g-recaptcha {
    transform:scale(0.8);
    transform-origin:0 0;
    transition: 0.5s;
    justify-content: flex-start;
  }
  .user_edit_form {
    width: 100%;
  }
  .settings_button {
    flex-direction: column;
  }
  .settings_button_edit {
    margin-top: 10px;
  }
  .user_container {
    width: 95%;
  }
  .user_post_card {
    width: 100%;
  }

}

@media screen and (max-width: 320px) {
  .gallery:hover {
    transform: scale(1);
  }

  .auth {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  .auth a {
    font-size: 1rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .nav a {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .header_txt h1 {
    font-size: 2.7rem;
  }

  .g-recaptcha {
    transform:scale(0.6);
    transform-origin:0 0;
    transition: 0.5s;
    margin-bottom: 1%;
  }
}
