/* Профиль пользователя */
.user_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 5%;
}

.user_wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  flex-direction: column;
}

.user_content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.user_info h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.user_info h3{
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.user_info h4{

}

.settings_button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.settings_button_edit {
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  transform: scale(1);
  transition: 0.5s cubic-bezier(.55,0,.1,1);
}

.settings_button_edit:hover {
  transform: scale(1.1);
  border-radius: 20px;
  transition: 0.5s cubic-bezier(.55,0,.1,1);
}

.settings_button_logout {
  background: var(--main-color-app);
  background-size: 200%;
}

.settings_button_edit i {
  color: #fff;
  font-size: 2rem;
}

.settings_button_edit h5 {
  color: #fff;
}


.fa-passwd-reset > .fa-lock {
  font-size: 0.85rem;
}

.user_posts {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

.user_post_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------------------------------ */
.user_post_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  width: 80%;
  padding: 10px;
  height: auto;
  background-color: #dbdbdb;
  border-radius: 10px;
  transition: 0.2s cubic-bezier(.55,0,.1,1);
  color: #333;
}

.user_post_card img {
  width: 200px;
  border-radius: 10px;
}

#user_post_card:hover {
  background-color: #eaeaea;
  transition: 0.2s cubic-bezier(.55,0,.1,1);

}

/* Редактор профиля */
.user_edit_form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-top: 5%;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 20px;
}

.user_edit_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
}

.logoutbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #fc3030, #ac0000, #fc3030);
  background-size: 200%;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logoutbtn:hover {
  background-position: right;
}

.save_user_btn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg, #2fff1f, #0a9400, #2fff1f);
  background-size: 200%;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.save_user_btn:hover {
  background-position: right;
}

.stbtn {
  width: 100%;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 800px){

  .settings_button {
    justify-content: center;
    margin-top: 10px;
  }

  .user_post_card {
    flex-direction: column;
  }

}

@media screen and (max-width: 600px){

  .user_edit_form {
    width: 80%;
  }

  .user_profile {
    flex-direction: column;
    justify-content: center;
  }

  .user_post_card {
    flex-direction: column;
  }

}

@media screen and (max-width: 450px){

  .user_edit_form {
    width: 100%;
  }

  .settings_button {
    flex-direction: column;
  }

  .settings_button_edit {
    margin-top: 10px;
  }

  .user_container {
    width: 95%;
  }
  
  .user_post_card {
    width: 100%;
  }

}

@media screen and (min-width: 320px) {


}
